# fly.toml app configuration file generated for musicscan-g76o4w on 2025-12-08T19:00:43Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'musicscan-g76o4w'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
