name: Deploy Render Worker to Fly.io

on:
  push:
    paths:
      - 'worker/**'
    branches:
      - main

jobs:
  deploy:
    name: Deploy Worker
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: worker
    
    steps:
      - uses: actions/checkout@v4
      
      - uses: superfly/flyctl-actions/setup-flyctl@master
      
      - run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
